@page "/activity/start/{ActivityId:int}"
@using FitTrack.Data
@using FitTrack.Data.DTOs.Activities
@using FitTrack.Data.DTOs.ExerciseSets
@using FitTrack.Data.DTOs.Exercises
@using FitTrack.Services.Activities
@using Microsoft.AspNetCore.Identity

@inject NavigationManager Navigation
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IActivityService ActivityService
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageTitle>Start @_activity?.WorkoutName</PageTitle>
<PageHeaderTitle title="@_activity?.WorkoutName" ActionMenu="mudMenu" />

<MudMenu @ref="mudMenu" PositionAtCursor>
    <MudMenuItem OnClick="AddExerciseAsync">Add a Workout</MudMenuItem>
</MudMenu>

<MudTabs @ref="mudTabs" Elevation="1" Outlined ApplyEffectsToContainer Ripple PanelClass="pa-6">
    @if (_activity is not null)
    {
        @foreach (var exercise in _activity.ExerciseList)
        {
            <MudTabPanel Text="@exercise.Exercise.Name">
                <MudStack Justify="Justify.FlexEnd" Row>
                    <MudButton StartIcon="@Icons.Material.Outlined.Remove" Color="Color.Error" onclick="() => RemoveWorkout(exercise)">Remove</MudButton>
                </MudStack>
                <MudCarousel TData="string"
                             ShowArrows
                             ShowBullets
                             EnableSwipeGesture
                             AutoCycle
                             ItemsSource="exercise.Exercise.ImagePaths"
                             Style="height:400px">
                    <ItemTemplate>
                        <div class="d-flex justify-center" style="Height:100%">
                            <MudImage ObjectFit="ObjectFit.Contain" Src="@context"></MudImage>
                        </div>
                    </ItemTemplate>
                </MudCarousel>

                <MudCard Class="ma-3">
                    <MudCardContent>
                        @exercise.Exercise.Description
                    </MudCardContent>
                </MudCard>

                <MudText Typo="Typo.subtitle1" Color="Color.Secondary">Recommended Sets: @exercise.SetCount</MudText>
                <MudDataGrid T="ActivitySetDto"
                             Items="exercise.ActivitySets"
                             ReadOnly="false"
                             Dense
                             EditMode="DataGridEditMode.Cell"
                             EditTrigger="DataGridEditTrigger.OnRowClick"
                             CommittedItemChanges="SaveWorkoutAsync"
                             Class="ma-3">
                    <Columns>
                        <PropertyColumn Title="Weight" Property="x => x.Weight" />
                        <PropertyColumn Title="Reps" Property="x => x.Repetitions" />
                        <TemplateColumn>
                            <EditTemplate>
                                <MudStack Row Justify="Justify.FlexEnd">
                                    <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="() => RemoveSet(exercise, context.Item)"></MudIconButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.ContentCopy" OnClick="() => AddSet(exercise, context.Item)"></MudIconButton>
                                </MudStack>
                            </EditTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </MudTabPanel>
        }
        <MudStack Class="d-flex justify-end ma-3" Row>
            <MudButton FullWidth Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.KeyboardDoubleArrowLeft" Color="Color.Primary" Disabled="@(CurrentTabIndex == 0)" OnClick="PreviousTab">Previous</MudButton>
            <MudButton FullWidth Variant="Variant.Filled" Color="Color.Success" OnClick="SaveWorkoutAsync">Save</MudButton>
            <MudButton FullWidth Variant="Variant.Filled" EndIcon="@Icons.Material.Outlined.KeyboardDoubleArrowRight" Color="Color.Primary" Disabled="@(CurrentTabIndex == TabCount - 1)" OnClick="NextTab">Next</MudButton>
        </MudStack>
    }
</MudTabs>

<MudStack Class="d-flex justify-end ma-3">
    <MudButton FullWidth Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Pause" Color="Color.Default" OnClick="PauseActivity">Pause</MudButton>
    <MudButton FullWidth Variant="Variant.Filled" EndIcon="@Icons.Material.Outlined.Check" Color="Color.Success" OnClick="CompleteWorkoutAsync">Complete</MudButton>
</MudStack>

@code {
    [Parameter]
    public int ActivityId { get; set; }

    private MudTabs mudTabs;
    private bool _shouldLoadLastTab = false;

    private MudMenu mudMenu;

    private ActiveActivityDto _activity;
    private ApplicationUser CurrentUser;

    private int tabCount;

    public int TabCount
    {
        get { return mudTabs.Panels.Count; }
    }

    private int currentTabIndex;

    public int CurrentTabIndex
    {
        get { return mudTabs.ActivePanelIndex; }
    }


    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        CurrentUser = await UserManager.GetUserAsync(authState.User);

        if (CurrentUser is not null)
        {
            _activity = await ActivityService.GetActiveActivityByIdAsync(ActivityId, CurrentUser);
        }
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && _shouldLoadLastTab)
        {
            mudTabs.ActivatePanel(mudTabs.Panels.Last());
            _shouldLoadLastTab = false;
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task AddExerciseAsync()
    {
        var addExerciseDialog = await DialogService.ShowAsync<AddExerciseDialog>("Add a Workout!");
        var result = await addExerciseDialog.Result;
        if (!result.Canceled)
        {
            ExerciseDto? newExercise = await addExerciseDialog.GetReturnValueAsync<ExerciseDto>();
            if (newExercise is not null)
            {
                _activity.ExerciseList.Add(new WorkoutLogDto
                {
                    Exercise = newExercise,
                    ActivitySets = [new ActivitySetDto() { Weight = 0, Repetitions = 0 }]
                });

                _shouldLoadLastTab = true;
            }
            else
            {
                Snackbar.Add("Failed to add the new exercise", Severity.Error);
            }
        }
    }

    private void AddSet(WorkoutLogDto log, ActivitySetDto set)
    {
        var newSet = new ActivitySetDto
        {
            Weight = set.Weight,
            Repetitions = set.Repetitions
        };

        log.ActivitySets.Add(newSet);
    }

    private void RemoveSet(WorkoutLogDto log, ActivitySetDto set)
    {
        int setCount = log.ActivitySets.Count;
        if (setCount > 1)
        {
            log.ActivitySets.Remove(set);
        }
        else if (setCount == 1)
        {
            _activity.ExerciseList.Remove(log);
        }
    }

    private void RemoveWorkout(WorkoutLogDto log)
    {
        _activity.ExerciseList.Remove(log);
    }

    private void NextTab()
    {
        if (CurrentTabIndex < TabCount - 1)
        {
            mudTabs.ActivatePanel(CurrentTabIndex + 1);
        }
    }

    private void PreviousTab()
    {
        if (CurrentTabIndex > 0)
        {
            mudTabs.ActivatePanel(CurrentTabIndex - 1);
        }
    }

    private async Task CompleteWorkoutAsync()
    {
        await ActivityService.SaveActivityAsync(_activity, true);
        Navigation.NavigateTo("/activity/history", true);
    }

    private async Task SaveWorkoutAsync()
    {
        try
        {
            await ActivityService.SaveActivityAsync(_activity);
            Snackbar.Add("Workout has been saved successfully!", Severity.Success);
        }
        catch
        {
            Snackbar.Add("Unable to save workout, try again later.", Severity.Error);
        }
    }

    private async Task PauseActivity()
    {
        try
        {
            await ActivityService.SaveActivityAsync(_activity);
            Navigation.NavigateTo("/activity/history", true);
        }
        catch
        {
            Snackbar.Add("Unable to save workout, you will lose all progress if you leave the page.", Severity.Error);
        }        
    }
}
