@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavGroup Title="Exercises" Expanded="true" Icon="@Icons.Material.Filled.ElectricBike">
                <MudNavLink Href="Exercises" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.DirectionsBike">Exercises</MudNavLink>
                <MudNavLink Href="Routines" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarToday">Routines</MudNavLink>
                <MudNavLink Href="Activity/History" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SportsGymnastics">Activity History</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="Measurements" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.BarChart">Measurements</MudNavLink>
            <MudNavGroup Title="Food Journal" Expanded="true" Icon="@Icons.Material.Filled.Book">
                <MudNavLink Href="FoodJournal/Today" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarToday">Today</MudNavLink>
                <MudNavLink Href="FoodJournal/Goals" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AccountCircle">Goals</MudNavLink>
                <MudNavLink Href="FoodJournal/Foods" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ShoppingBasket">Foods</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Info" Class="mr-3"></MudIcon> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Exercises" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.DirectionsBike">Exercises</MudNavLink>
            <MudNavLink Href="FoodJournal/Foods" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ShoppingBasket">Foods</MudNavLink>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

