@page "/dashboard"
@using FitTrack.Data
@using FitTrack.Data.DTOs.Activities
@using FitTrack.Data.DTOs.FoodJournal
@using FitTrack.Data.DTOs.Measurements
@using FitTrack.Services.Activities
@using FitTrack.Services.FoodJournal
@using FitTrack.Services.Measurements
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IActivityService ActivityService
@inject IMeasurementService MeasurementService
@inject IFoodService FoodService
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>
<PageHeaderTitle Title="Dashboard" />

<MudContainer Class="mt-12" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">
                <MudPaper Elevation="3" Outlined Width="100%" Class="mud-theme-primary">
                    <MudText Align="Align.Center" Typo="Typo.h6">Workout Records</MudText>
                </MudPaper>
                @if (_recordActivity is not null)
                {
                    <MudStack Spacing="6" AlignItems="AlignItems.Center">
                        <MudStack Spacing="0" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.subtitle1" Color="Color.Primary">@_recordActivity.BestReps.Exercise</MudText>
                            <MudText Typo="Typo.subtitle2">@_recordActivity.BestReps.Routine</MudText>
                            <MudText Typo="Typo.body1">@_recordActivity.BestReps.Reps Reps</MudText>
                        </MudStack>
                        <MudStack Spacing="0" AlignItems="AlignItems.Center">
                            @if (!_recordActivity.BestWeight.Exercise.Equals(_recordActivity.BestReps.Exercise))
                            {
                                <MudText Typo="Typo.subtitle1" Color="Color.Primary">@_recordActivity.BestWeight.Exercise</MudText>
                            }

                            @if (!_recordActivity.BestWeight.Routine.Equals(_recordActivity.BestReps.Routine))
                            {
                                <MudText Typo="Typo.subtitle2">@_recordActivity.BestWeight.Routine</MudText>
                            }

                            <MudText Typo="Typo.body1">@_recordActivity.BestWeight.Weight.ToString("n") lbs</MudText>
                        </MudStack>
                    </MudStack>
                }
                else
                {
                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">No Recent Activity</MudText>
                }
            </MudPaper>
        </MudItem>

        <MudItem xs="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content;">
                <MudPaper Elevation="3" Outlined Width="100%" Class="mud-theme-primary">
                    <MudText Align="Align.Center" Typo="Typo.h6">Most Recent Workout</MudText>
                </MudPaper>
                @if (_recentActivity is not null)
                {
                    <MudText Align="Align.Center" Typo="Typo.subtitle2">@_recentActivity.DateCompleted</MudText>

                    <MudStack Spacing="0" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.subtitle1" Color="Color.Primary">@_recentActivity.WorkoutName</MudText>
                        <MudText Typo="Typo.subtitle2">@_recentActivity.RoutineName</MudText>
                    </MudStack>
                    <MudStack Justify="Justify.SpaceEvenly" Row Spacing="0">
                        <MudText Typo="Typo.body2">@_recentActivity.TotalReps reps</MudText>
                        <MudText Typo="Typo.body2">@_recentActivity.TotalWeight.ToString("n") lbs</MudText>
                    </MudStack>

                    <MudExpansionPanels Elevation="3" Class="mt-3">
                        <MudExpansionPanel Expanded Dense="true" Text="Completed Exercises">
                            <MudList T="string" Dense>
                                @foreach (var exercise in _recentActivity.ExerciseList)
                                {
                                    <MudListItem Dense="true" Text="@exercise" />
                                }
                            </MudList>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                }
                else
                {
                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">No Recent Activity</MudText>
                }
            </MudPaper>
        </MudItem>

        <MudItem xs="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content">
                <MudPaper Elevation="3" Outlined Width="100%" Class="mud-theme-primary">
                    <MudText Align="Align.Center" Typo="Typo.h6">Calorie Goal</MudText>
                </MudPaper>
                <MudStack AlignItems="AlignItems.Center" Spacing="3" Class="mt-3">
                    <MudText>Calories</MudText>
                    <MudProgressCircular Size="Size.Large" StrokeWidth="12" Value="@(_calorieGoalTotal / _userGoals.Calories * 100)" Color="Color.Success"></MudProgressCircular>
                    <MudText Align="Align.Center">@_calorieGoalTotal.ToString("n2") / <MudText Inline Color="Color.Success">@_userGoals.Calories.ToString("n2")</MudText></MudText>
                    <MudSimpleTable T="Double" Dense Elevation="0">
                        <tbody>
                            <tr>
                                <td>
                                    <MudProgressCircular Size="Size.Small" Value="@(_carbGoalTotal / _userGoals.Carbs * 100)" Color="Color.Primary">
                                        <MudText>C</MudText>
                                    </MudProgressCircular>
                                </td>
                                <td>
                                    <MudText Align="Align.Center">@_carbGoalTotal.ToString("n2") / <MudText Inline Color="Color.Primary">@_userGoals.Carbs.ToString("n2")</MudText></MudText>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudProgressCircular Size="Size.Small" Value="@(_fatGoalTotal / _userGoals.Fats * 100)" Color="Color.Secondary">
                                        <MudText>F</MudText>
                                    </MudProgressCircular>
                                </td>
                                <td>
                                    <MudText Align="Align.Center">@_fatGoalTotal.ToString("n2") / <MudText Inline Color="Color.Secondary">@_userGoals.Fats.ToString("n2")</MudText></MudText>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudProgressCircular Size="Size.Small" Value="@(_proteinGoalTotal / _userGoals.Protein * 100)" Color="Color.Tertiary">
                                        <MudText>P</MudText>
                                    </MudProgressCircular>
                                </td>
                                <td>
                                    <MudText Align="Align.Center">@_proteinGoalTotal.ToString("n2") / <MudText Inline Color="Color.Tertiary">@_userGoals.Protein.ToString("n2")</MudText></MudText>
                                </td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content">
                <MudPaper Elevation="3" Outlined Width="100%" Class="mud-theme-primary mb-3">
                    <MudText Align="Align.Center" Typo="Typo.h6">Today's Meals</MudText>
                </MudPaper>

                <MudExpansionPanels Dense>
                    @foreach (var meal in _meals)
                    {
                        <MudExpansionPanel Text="@meal.MealType.ToString()" Gutters="false" HeaderClass="px-3">
                            <MudSimpleTable Outlined="false" Striped Elevation="0">
                                <tbody>
                                    @if (meal.FoodServings.Count > 0)
                                    {
                                        @foreach (var serving in meal.FoodServings)
                                        {
                                            <tr>
                                                <td><strong>@serving.FoodItem.Name</strong></td>
                                                <td>@serving.Servings @serving.FoodItem.Units</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No foods have been logged for this meal today.</td>
                                        </tr>
                                    }

                                </tbody>
                            </MudSimpleTable>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: fit-content">
                <MudPaper Elevation="3" Outlined Width="100%" Class="mud-theme-primary">
                    <MudText Align="Align.Center" Typo="Typo.h6">Measurements</MudText>
                </MudPaper>
                @if (_measurementNames.Any())
                {
                    <MudSelect T="string" @bind-Value="_selectedMeasurement" Clearable Placeholder="Select a Metric" OnClearButtonClick="ClearMeasurement" Class="mb-3 mt-3" Variant="Variant.Outlined" Dense FullWidth SelectedValuesChanged="GetMeasurementChartDataAsync">
                        @foreach (var measurement in _measurementNames)
                        {
                            <MudSelectItem Value="measurement">@measurement</MudSelectItem>
                        }
                    </MudSelect>

                    @if (_measurementChartData is not null)
                    {
                        <MudPaper Elevation="3" Width="100%">
                            <MudChart Class="pa-6"
                                      Style="margin:auto"
                                      Width="100%"
                                      ChartType="ChartType.Line"
                                      ChartSeries="@_measurementChartData.Series"
                                      XAxisLabels="@_measurementChartData.Dates"
                                      AxisChartOptions="_axisChartOptions" />
                        </MudPaper>
                    }
                }
                else
                {
                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">No Selected Measurement</MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private ApplicationUser? _currentUser;
    private RecentActivityDto? _recentActivity;
    private List<string> _measurementNames = [];
    private string _selectedMeasurement = "";
    private MeasurementChartDto? _measurementChartData { get; set; } = null!;
    private List<MealDto> _meals = [];
    private UserGoalsDto _userGoals = new();
    private double _calorieGoalTotal = 0;
    private double _carbGoalTotal = 0;
    private double _fatGoalTotal = 0;
    private double _proteinGoalTotal = 0;


    private RecordActivityDto? _recordActivity;

    private AxisChartOptions _axisChartOptions = new();
    private ChartOptions _chartOptions = new();

    protected async override Task OnInitializedAsync()
    {
        _chartOptions.ShowLabels = true;
        _chartOptions.ShowLegend = true;
        _axisChartOptions.MatchBoundsToSize = true;

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _currentUser = await UserManager.GetUserAsync(authState.User);

        if (_currentUser is not null)
        {
            _recentActivity = await ActivityService.GetMostRecentCompletedActivityAsync(_currentUser);
            _recordActivity = await ActivityService.GetRecordActivityAsync(_currentUser);
            _measurementNames = await MeasurementService.GetMeasurementNamesAsync(_currentUser);
            _selectedMeasurement = _measurementNames.FirstOrDefault() ?? "";
            _meals = await FoodService.GetMealsByDateAsync(DateTime.Now, _currentUser);
            _userGoals = await FoodService.GetUserGoalsAsync(_currentUser);
            CalculateCalorieTotals();
            await GetMeasurementChartDataAsync();
        }
    }

    private void ClearMeasurement() => _measurementChartData = null!;

    private async Task GetMeasurementChartDataAsync()
    {
        if (!string.IsNullOrEmpty(_selectedMeasurement) && _currentUser is not null)
        {
            _measurementChartData = await MeasurementService.GetMeasurementChartDataAsync(_selectedMeasurement, _currentUser);
        }
    }

    private void CalculateCalorieTotals()
    {
        _calorieGoalTotal = 0;
        _carbGoalTotal = 0;
        _fatGoalTotal = 0;
        _proteinGoalTotal = 0;

        foreach (var meal in _meals)
        {
            foreach (var serving in meal.FoodServings)
            {
                _calorieGoalTotal += serving.FoodItem.Calories * serving.Servings;
                _carbGoalTotal += serving.FoodItem.Carbs * serving.Servings;
                _fatGoalTotal += serving.FoodItem.Fats * serving.Servings;
                _proteinGoalTotal += serving.FoodItem.Proteins * serving.Servings;
            }
        }
    }
}